:root {
  --fondo-oscuro: #006494;
  --letra-clara: #fff;
  --fondo-claro: #add8e6;
  --azul-boton: #003554;
  --rosa-borrar: #ff5d73;
  --otrocolor: #98c1d9;
  --body: #f0f7fc
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  background-color: var(--body);
  font-family: "Poppins", sans-serif;
}

/* Fuente */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Barra navegacion */
.navbar {
  background-color: var(--fondo-oscuro);
  border-radius: 10px;
  margin: 0px 5px;
}

.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-brand {
  color: var(--letra-clara);
}

.nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-brand:hover,
.navbar-brand:focus {
  color: var(--fondo-claro);
}

.nav-link.active {
  color: var(--fondo-claro);
  font-weight: bold;
}

.container {
  margin-top: 80px;
}

/*Carrusel*/
.newRelease {
  padding: 25vh 10vw;
  background-color: var(--bs-gray-200);
  border-radius: 10px;
}

/*Busqueda Main*/
.busqueda{
  padding: 5% 10%;
}

/*Reseñas home*/
.resenias-amigos-home {
  margin-top: 10px;
  border-bottom: 1px solid #999;
  padding: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.stars{
  color: #faa168;
}

/*Footer*/

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--letra-clara);
}

/*SignUp*/
#signup form {
  background: #cbdae5;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  margin-top: 50px;
}

#signup .form-control {
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Pagina del Perfil */
.profile-banner {
  background: var(--otrocolor);
  height: 30vh;
  font-size: 40px;
  border-radius: 20px;
}

.perfil {
  background: var(--bs-gray-100);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  top: -15vh;
  height: calc(80vh - 110px);
  margin: 0 5vw;
  box-shadow: 0px 0px 10px #999;
}

.profile-pic {
  width: 100px;
  height: 100px;
  background: url("profile.jpg");
  border-radius: 100%;
  margin: -50px auto 0 auto;
}

.perfil-info {
  font-size: 2em;
  font-weight: 600;
}

span.perfil-info-bubtitle {
  display: block;
  font-size: 0.55em;
  font-weight: 100;
}

@media screen and (min-width: 400px) {
  .perfil .row {
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }
}

/*Página de Prestamos*/
.prestamos,
.libros {
  margin-top: 20px;
  margin-bottom: 25px;
}

#login form {
  background: #cbdae5;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  margin-top:50px;
}

/* Botones */
.btn-primary {
  background-color: var(--fondo-oscuro);
  border: none;
  margin-left: 15px;
}

.btn-primary:hover {
  background-color: var(--azul-boton);
}

.btn-outline-primary, .btn-outline-success, .btn-outline-danger{
  color: var(--letra-clara);
  border-color: var(--letra-clara);
}  


/* Tablas libros y prestamos */
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: #c3dbe9;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-bg-type: #98c1d9;
}

.table-striped > thead > tr > th {
  --bs-table-bg-type: var(--fondo-oscuro);
  color: #fff;
}

