#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
body{
  background-color: rgb(240, 247, 252);
}
.navbar{
  background-color: lightblue;
  border-radius: 10px;
  margin:5px;
}
.nav-link.active{
  text-decoration: underline;
}

.container{margin-top:70px}

.profile-banner{
  background: var(--bs-primary-border-subtle);
  height: 30vh;
  font-size: 40px;
}
.perfil{
  background: var(--bs-gray-200);
  padding: 20px;
  margin:-15vh 100px;
  border-radius: 10px;
}